{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block menu_user %} active {% endblock %}
{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled">Liste des utilisateurs</h2>

    <table class="border-line">
        <thead class="border-line">
            <tr class="border-line">
                <th class="border-line">Id</th>
                <th class="border-line">Email</th>
                <th class="border-line">Rôles</th>
                <th class="border-line" colspan="3">Action</th>
            </tr>
        </thead>

        <tbody class="border-line">
        <br>
        {% for user in users %}
            <tr>
                <td class="border-line">{{ user.id }}</td>
                <td class="border-line">{{ user.email }}</td>
                <td class="border-line">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="td-button">
                    <a class="nav_admin" href="{{ path('admin_user_show', {'id': user.id}) }}"><button class="submit-user">Afficher</button></a>
                </td>
                <td class="td-button">
                    <a class="nav_admin" href="{{ path('admin_user_edit', {'id': user.id}) }}"><button class="submit-user">Éditer</button></a>
                </td>
                <td class="td-button">
                    {{ include('user/_delete.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div>
        <a class="nav_admin" href="{{ path('admin_user_new') }}"><button class="submit">Créer</button></a>
    </div>
</section>
{% endblock %}
