{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}
{% block menu_user %} active {% endblock %}
{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled">Utilisateur : {{user.email}}</h2>
    <table class="border-line">
        <tbody>
            <tr>
                <th class="border-line">Id: </th>
                <td class="border-line">{{ user.id }}</td>
            </tr>
            <tr>
                <th class="border-line">Email: </th>
                <td class="border-line">{{ user.email }}</td>
            </tr>
                <tr>
                    <th class="border-line">Rôles: </th>
                    <td class="border-line">{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
        </tbody>
    </table>
    <div>
        <a class="nav_admin" href="{{ path('admin_user') }}"><button class="submit">Retour</button></a>
        <a class="nav_admin" href="{{ path('admin_user_edit', {'id': user.id}) }}"><button class="submit">Éditer</button></a>
    </div>
</section>    
{% endblock %}
