{% extends 'base.html.twig' %}

{% block title %}Ajout Casting{% endblock %}
{% block menu_casting %} active {% endblock %}

{% block body %}

<section>
    <div class="home-bloc-movie-picture-show">
        <div class="home-bloc-movie-information-show">
            <h2 class="entitled">Ajout acteurs.trices</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.personage) }}
    <br>
    {{ form_row(form.creditOrder) }}
    <br>
    {{ form_row(form.movie) }}
    <br>
    <br><br>
                <div class="admin-footer">
                    <button class="submit" type="submit">Créer</button>
                    <a class="nav_admin"href="{{ path('admin_genre') }}"><button class="submit">Retour</button></a>
                </div>
        </div>
    </div>
</section>
{{ form_end(form) }}

{% endblock %}
