{% extends 'base.html.twig' %}

{% block title %}Détails des castings{% endblock %}
{% block menu_casting %} active {% endblock %}

{% block body %}

<section>
    <div class="home-bloc-movie-picture-show">
    <div class="home-bloc-movie-information-show">
        <h1 class="entitled"> {{casting.personage}}</h1>

    <h2 class="subtitle">Liste des films associés </h2>

<pre>
    {{ dump(casting) }}
</pre>
{% for casting in casting.movie %}

<li class="admin-list">{{casting.movie.title}}</li>
{# afficher la liste des movies associer au casting (movie.id) et movie.title #}
 {% endfor %} 
                <div class="admin-footer">
                    <a class="nav_admin"href="{{ path('admin_casting') }}"><button class="submit">Retour</button></a>
                    <a class="nav_admin"href="{{ path('admin_casting_edit', {id : casting.id}) }}"><button class="submit">Editer</button></a>
                    <a class="nav_admin"href="{{ path('admin_casting_delete', {id : casting.id}) }}"><button class="submit">Supprimer</button></a>
                </div>
            </div>
     </div>
</section>
{% endblock %}

