{% extends 'base.html.twig' %}

{% block title %}Détails des castings{% endblock %}
{% block menu_casting %} active {% endblock %}

{% block body %}
<pre>
    {{ dump(casting) }}
</pre>
<section class="container-admin">
    <div>
        <h2 class="entitled"> {{casting.personage}}</h2>

        <h3 class="subtitle">Liste des films associés</h3>
        <li class="category">{{casting.movie.title}}</li>

        <h3 class="subtitle">Liste des rôles associés</h3>
        {% for person in casting.person %}
        <li class="category">{{person.name}}</li>
        {% endfor %}

{# afficher la liste des movies associer au casting (movie.id) et movie.title #}
 
        <div class="admin-footer">
            <a class="nav_admin"href="{{ path('admin_casting') }}"><button class="submit">Retour</button></a>
            <a class="nav_admin"href="{{ path('admin_casting_edit', {id : casting.id}) }}"><button class="submit">Editer</button></a>
            <a class="nav_admin"href="{{ path('admin_casting_delete', {id : casting.id}) }}"><button class="submit">Supprimer</button></a>
        </div>
    </div>
</section>
{% endblock %}

