<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome !{% endblock %}</title>
       
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}
        
        {% endblock %}
    </head>

    <body style="background-color:grey">
        <header id="header-navigation">
      {#<div>{{ dump(app.user)}}</div> #}
            {% if app.user %}
            <nav class="navigation"> 
                <ul class="nav-principal">
                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link {% block menu_movie %} {% endblock %}"href="{{ path('admin_movie') }}">Films</a></li>

                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link {% block menu_genre %} {% endblock %}"href="{{ path('admin_genre') }}">Genres</a></li>

                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link {% block menu_person %} {% endblock %}"href="{{ path('admin_person') }}">Acteurs</a></li>

                    {% if is_granted ('ROLE_ADMIN') %}
                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link"href="{{ path('admin_user') }}"><span class="user-red">Utilisateurs</span></a></li>
                     {% endif %}
                </ul>
            <div class="user-deco">
                <a class="username" href="{{ path('admin_user_edit', {id: app.user.id}) }}">{{ app.user.username }}</a>
                ({{ app.user.displayRole }}) {# twig va tester sur l'objet 'user' s'il y a une méthode displayRole et l'utiliser #}
                <a class="connect" href="{{ path('app_logout')}}">Déconnection</a>
            </div>
            
           {% else %}
            <nav class="navigation">
                <ul class="nav-principal">
                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link"href="{{ path('home') }}">Cinéma MovieDB</a></li>
                    
                     {# <li class="nav-principal-item"> 
                    <a class="nav-principal-link"href="#">Créer un compte</a></li> #}

                    <li class="nav-principal-item"> 
                    <a class="nav-principal-link"href="#">Nous contacter</a></li>

                    {# <li class="nav-principal-item"> 
                    <a class="nav-principal-link"href="#">Mon compte</a></li> #}
                </ul>
            </nav>
            <div class="user-co">
            <a class="connect" href="{{ path('app_login')}}">Connexion</a>
            </div>
           {% endif %}
            </nav>
        </header>

        <main id="wrapper">
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>