
{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Genre{% endblock %}
{% block menu_genre %} active {% endblock %}

{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled">Ajouter un genre</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <br>
    <span class="label-admin">{{ form_row(form.name) }}</span>
    <br>
    <div>
        <a class="nav_admin"href="{{ path('admin_genre_add')}}"><button class="submit" type="submit">Créer</button></a>
        <a class="nav_admin"href="{{ path('admin_genre') }}"><button class="submit">Retour</button></a>
    </div>
</section>
{{ form_end(form) }}
{% endblock %}