
{% extends 'base.html.twig' %}

{% block title %}Edition du genre {{ genre.name }}{% endblock %}
{% block menu_genre %} active {% endblock %}
{% block body %}
<section>
    <div class="home-bloc-movie-picture-show">
        <div class="home-bloc-movie-information-show">
            <h1>Modifier : {{ genre.name }}</h1>

                {{ form_start(form) }}

                {{ form_errors(form) }}
<br>
                {{ form_row(form.name) }}
<br>

<br><br>
            <div class="admin-footer">
                    <button class="submit" type="submit">Modifier</button>
                    <a class="nav_admin"href="{{ path('admin_genre') }}"><button class="submit">Retour</button></a>
            </div> 
        </div>
    </div>
</section>
{{ form_end(form) }}

{% endblock %}