{% extends 'base.html.twig' %}

{% block title %}Ajout d'un acteur{% endblock %}
{% block menu_person %} active {% endblock %}

{% block body %}
<section class="bloc-admin-informations">
    <h2 class="entitled"> Ajouter un rôle </h2>  

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <br>
    <span class="label-admin">{{ form_row(form.name) }}</span>
    <br>
    <span class="label-admin">{{ form_row(form.castings) }}</span>
    <br>
    <div>
        <a class="nav_admin"href="{{ path('admin_person_add')}}"><button class="submit" type="submit">Créer</button></a>
        <a class="nav_admin"href="{{ path('admin_person') }}"><button class="submit">Retour</button></a>
    </div>
</section>
{{ form_end(form) }}
{% endblock %}